.wish-list-container{
    margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

.wish-list-item{
    text-align: center;
        margin-top: 10px;
    
}


