.product-list-dashbord-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.product-list-dashbord{
    text-align: center;


}