.Footer-section {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.Footer-section nav {
    width: 500px;
}

.Footer-section nav ul {
    display: flex;
    flex-direction: row;
    /*by defult*/
    justify-content: space-between;
    list-style: none;
}

.Footer-section .social-media {
    display: flex;
        flex-direction: row;
        /*by defult*/
        justify-content: space-between;
        list-style: none;
        gap: 10px;

}
.Footer-section .social-media img {
    height: 25px;
    width: 25px;
}

